.footer {
    background-color: var(--primary-color);
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 0px;
}

.footer__container {
    display: flex;
}

.footer__logo {
    display: inline-block;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
}

.footer__text {
    color: var(--main-title-color);
}

.footer__address {
    font-style: normal;
}

.footer__list {
    margin-top: 20px;
}

.footer__link {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    transition: color var(--anim-our);

   &:hover,
   &:focus {
    color: var(--main-btn-color);
        }
}
.footer__element {
    margin-top: 9px;
}

.footer__mail {
    display: inline-block;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--anim-our);

    &:hover,
    &:focus {
     color: var(--main-title-color);
        }
    }

.footer__tel {
    display: inline-block;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    transition: color var(--anim-our);

    &:hover,
    &:focus {
    color: var(--main-title-color);
        }
}

