

.header__container {
    display: flex;
    align-items: center;
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.header__group {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__contact {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--fourth-title-color);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--anim-our);
}

.header__contact:hover,
.header__contact:focus {
    color: var(--main-btn-color);
}

.header__mail {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--fourth-title-color);
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color var(--anim-our);
}

.header__mail:hover,
.header__mail:focus {
    color: var(--main-btn-color);
}

.heder__icon {
    fill: currentColor;
}

.header__logo {
    margin-right: 93px;
}